.navigation {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
    border-bottom: 2px solid $color-primary-dark;
    top: 0;

    &--list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;

        &__item {
            width: calc(20% - 24px);
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            border-radius: 10px;
            background: black;
            border: 2px solid $color-primary;
        }
    }
}
