.idea
.env
*.conf
node_modules
server/config/*
package-lock.json
spotifyd/spotifyd.conf
mysql/config/databases
frontend/dist/**/*

!server/config/example.conf
!.env.example
!spotifyd/spotifyd.default.conf
