.artists {
    &--listing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        height: calc(100% - 120px);
        overflow-y: auto;
        margin-top: 60px;
        padding-bottom: 60px;
    }

    .artist {
        height: fit-content;
        position: relative;
        transition: all ease-in-out 0.5s;
        display: inline-block;
        width: calc(100% / 10);
        margin: 10px 10px 40px 10px;
        cursor: pointer;
        border-radius: 25px;

        &.hidden {
            display: none;
        }

        &.disabled {
            outline: 2px dotted $color-primary;

            img {
                opacity: 0.25;
                filter: blur(2px);
            }
        }



        &--name {
            position: absolute;
            padding: 5px 0;
            display: block;
            bottom: -40px;
            transform-origin: bottom;
            font-size: $fs-xxs;
            width: 100%;
            text-align: center;
            background: rgba(255, 255, 255, 0.1);
        }

        &--image {
            display: block;
            overflow: hidden;
            height: 100%;
            width: 100%;
            border-radius: 25px;

            img {
                width: 100%;
                display: block;
            }
        }

        &.playing {
            border-color: $color-splash;
            box-shadow: 0 0 50px $color-splash;
            z-index: 200;
            animation: 1s ease-in-out 0s infinite playing;

            .artist--image {
                background-color: $color-splash;

                img {
                    animation: 1s ease-in-out 0s infinite playing-image;
                }
            }
        }
    }

}
