.artists {

    .artists--listing {
        $artist-margin: 10px;
        $artist-border: 4px;
        text-align: center;
        overflow-Y: scroll;
        overflow-X: hidden;
        height: calc(100% - 60px);
        padding: 60px 100px;

        .artist {
            height: fit-content;
            position: relative;
            transition: all ease-in-out 0.5s;
            opacity: 1;
            display: inline-block;

            &.loaded {
                opacity: 1;
            }

            &.hidden {
                display: none;
            }

            &.disabled {
                .artist--body {
                    border-style: dotted;
                }

                .artist--image {
                    filter: blur(2px);
                    opacity: 0.25;
                }
            }

            &--body {
                margin: $artist-margin $artist-margin 50px $artist-margin;
                border: $artist-border solid $color-primary;
                position: relative;
                transition: all ease-in-out 0.5s;
                border-radius: 20px;
            }


            &--name {
                color: white;
                position: absolute;
                display: block;
                bottom: -35px;
                transform-origin: bottom;
                font-size: $fs-xxs;
                text-align: center;
                background: rgba(255, 255, 255, 0.1);
                opacity: 0;
                border-radius: 5px;
                width: 100%;
                padding: 5px 0;

            }

            &--image {
                display: block;
                overflow: hidden;
                width: 100%;
                background-color: transparent;
                background-size: cover;
                background-position: center;
                border-radius: 15px;
            }

            &:hover {
                cursor: pointer;
                transition: all ease-in-out 0.1s;
                z-index: 100;
                transform-origin: center;

                .artist--name {
                    opacity: 1;
                    z-index: 100;
                    background: rgba(0, 0, 0, 0.7);
                }
            }

            &.playing {
                .artist--body {
                    border-color: $color-splash;
                    box-shadow: 0 0 50px $color-splash;
                    background-color: $color-splash-dark;
                    animation: 1s ease-in-out 0s infinite playing;

                    .artist--image {
                        animation: 1s ease-in-out 0s infinite playing-image;
                    }
                }
            }
        }

        &.per-row-1 {
            .artist {
                width: calc(50vw);

                &--body {

                }

                &--image {
                    height: calc(100vh - 300px);
                }
            }
        }

        &.per-row-2 {
            .artist {
                width: calc(100vw / 2.2);

                &--image {
                    height: calc(calc(100vw / 2.5));
                }
            }
        }

        &.per-row-3 {
            .artist {
                width: calc(100% / 3);

                &--image {
                    height: calc(calc(100vw / 3) - 50px);
                }
            }
        }

        &.per-row-4 {
            .artist {
                width: calc(100% / 4);

                &--image {
                    height: calc(calc(100vw / 4) - 50px);
                }
            }
        }

        &.per-row-5 {
            .artist {
                width: calc(100% / 5);

                &--image {
                    height: calc(calc(100vw / 5) - 80px);
                }
            }
        }

        &.per-row-6 {
            .artist {
                width: calc(100% / 6);

                &--image {
                    height: calc(calc(100vw / 6) - 50px);
                }
            }
        }

        &.per-row-7 {
            .artist {
                width: calc(100% / 7);

                &--image {
                    height: calc(calc(100vw / 7) - 50px);
                }
            }
        }

        &.per-row-8 {
            .artist {
                width: calc(100% / 8);

                &--image {
                    height: calc(calc(100vw / 8) - 50px);
                }
            }
        }

        &.per-row-9 {
            .artist {
                width: calc(100% / 9);

                &--image {
                    height: calc(calc(100vw / 9) - 50px);
                }
            }
        }

        &.per-row-10 {
            .artist {
                width: calc(100% / 10);

                &--image {
                    height: calc(calc(100vw / 10) - 50px);
                }
            }
        }
    }
}

