.album {

    &--artist {
        position: fixed;
        left: 1vw;
        top: calc(16vw + 20px);

        .artist--image {
            text-align: center;
            display: block;
            overflow: hidden;
            border-radius: 25px;
            width: 10vw;
            height: 10vw;

            img {
                width: 100%;
                display: block;
            }
        }

        .album--name {
            text-align: center;
            display: block;
            width: 14vw;
            overflow: hidden;
            height: 30px;
        }
    }
}
