.album {

    &--artist {
        position: fixed;
        left: 20vw;
        top: 22vh;
        text-align: center;
        perspective: 800px;

        .artist--image {
            text-align: center;
            display: inline-block;
            overflow: hidden;
            border-radius: 25px;
            width: 18vh;
            height: 18vh;
            box-shadow: 0 0 150px #b500ff;
            border: 4px solid $color-primary;
            cursor: pointer;
            transition: all ease-in-out 0.4s;

            img {
                width: 100%;
                display: block;
            }

            &:hover {
                transform-origin: right;
                transform: rotateY(20deg);
                transition: all ease-in-out 0.1s;
            }
        }

        .artist--name {
            text-align: center;
            display: block;
            overflow: hidden;
            height: 30px;
            opacity: 0.2;
            margin-top: 10px;
        }
    }
}
