.album {

    &--details {
        position: fixed;
        left: 1vw;
        top: 10px;

        .album--image {
            text-align: center;
            display: block;
            overflow: hidden;
            border-radius: 25px;
            width: 14vw;
            height: 14vw;

            img {
                width: 100%;
                display: block;
            }
        }

        .album--name {
            text-align: center;
            display: block;
            width: 14vw;
            overflow: hidden;
            height: 30px;
        }
    }
}
