.album {

    &--details {
        position: fixed;
        right: 20vw;
        top: 11vh;
        width: 50vh;
        height: 50vh;
        perspective: 1000px;

        .album--image {
            text-align: center;
            display: block;
            overflow: hidden;
            border-radius: 25px;
            height: 100%;
            box-shadow: 0 0 250px 50px $color-primary;
            background-size: cover;
            background-position: center;
            transform-origin: left center;
            transform: rotateY(-15deg) rotateX(3deg);
        }

        .album--name {
            text-align: center;
            display: block;
            overflow: hidden;
            width: 100%;
            opacity: 0.5;
            margin-top: 10px;
            font-size: $fs-xs;
            transform-origin: left center;
            transform: rotateY(-15deg) rotateX(3deg);
        }
    }
}
