.album {

    &--details {
        position: fixed;
        right: 20vw;
        top: 11vh;
        width: 45vh;
        height: 45vh;

        .album--image {
            text-align: center;
            display: block;
            overflow: hidden;
            border-radius: 25px;
            height: 100%;
            box-shadow: 0 0 250px #b500ff;

            img {
                width: 100%;
                display: block;
            }
        }

        .album--name {
            text-align: center;
            display: block;
            overflow: hidden;
            width: 100%;
            opacity: 0.2;
            margin-top: 10px;
            font-size: $fs-xs;
        }
    }
}
