.album {
    .track--details {
        position: fixed;
        right: 0;
        bottom: 250px;
        width: 100%;
        display: block;

        .track--name {
            margin: 0 50px 0 50px;
            font-size: $fs-xl;
            line-height: $fs-s;
            opacity: 0.2;
            position: absolute;
            display: block;
        }
    }
}
