.album {
    .album--tracks {
        position: fixed;
        right: 0;
        bottom: 100px;
        width: 100%;

        .track--listing {
            margin: 50px;

            .track {
                display: block;
                margin-bottom: 10px;
                font-size: $fs-m;
                position: relative;
                float: left;
                perspective: 500px;
                height: 50px;

                &.active {
                    .track--number {
                        background-color: $color-leaf;
                        font-weight: 900;
                        color: white;
                        line-height: 50px;
                        transition: all ease-in-out 0.3s;
                    }

                    .track--read, .track--play {
                        opacity: 1;
                        transform: rotateX(0deg);
                        transition: all ease-in-out 0.3s;
                    }
                }

                &--number {
                    background: $color-primary;
                    width: calc(100% - 4px);
                    margin-right: 4px;
                    height: 100%;
                    line-height: 70px;
                    vertical-align: middle;
                    display: block;
                    text-align: center;
                    color: $color-primary-darkest;
                    transition: all ease-in-out 0.3s;
                    border-radius: 3px;
                }


                &--name {
                    color: white;
                    width: 100%;
                    line-height: 3vw;
                    display: none;
                    background: $color-primary;

                }

                &--read, &--play {
                    position: absolute;
                    left: calc(50% - 27px);
                    top: -44px;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    background-color: rgba(255,255,255,0.3);
                    width: 50px;
                    height: 40px;
                    vertical-align: middle;
                    opacity: 0;
                    transform-origin: bottom;
                    transform: rotateX(90deg);
                    transition: all ease-in-out 0.3s;
                    cursor: pointer;

                    svg {
                        height: 100%;

                        path {
                            color: white;
                        }
                    }

                    &:hover {
                        background-color: $color-primary;
                        transform: scale(1.1);
                    }
                }

                &--play {
                    transform-origin: top;
                    top: 54px;
                    transform: rotateX(-90deg);
                }

                &:hover {
                    cursor: pointer;
                    z-index: 100;

                    .track--name {
                        z-index: 100;
                    }
                }
            }
        }
    }
}
