.album {
    .album--tracks {
        position: fixed;
        right: 0;
        top: 50px;
        width: calc(100% - 14vw - 20px);

        .track--listing {
            overflow-X: hidden;
            overflow-Y: auto;
            max-height: 100%;
            margin: 50px;

            .track {
                display: inline-block;
                overflow: hidden;
                margin-bottom: 10px;
                border-radius: 40px;
                font-size: $fs-xl;

                &.active {
                    .track--number {
                        background-color: $color-leaf;
                        font-weight: 900;
                    }
                }

                &--number {
                    background: $color-primary;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    vertical-align: middle;
                    display: block;
                    text-align: center;
                    border-radius: 70px;
                    float: left;
                    margin-right: 10px;
                }


                &--name {
                    color: white;
                    width: 100%;
                    line-height: 3vw;
                    display: none;
                    background: $color-primary;

                }

                &--play {
                    width: 100px;
                    height: 100px;
                    display: block;
                    background: $color-ocean;
                    border-radius: 70px;
                    margin-right: 10px;
                }

                &:hover {
                    cursor: pointer;
                    z-index: 100;

                    .track--name {
                        z-index: 100;
                    }
                }
            }
        }
    }
}
