body,
html {
    margin: 0;
    background-color: #621;
    color: #ddd;
}

* {
    font-family: "Oswald";
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

button {
    border: none;
    padding: 2px 10px;
    margin-right: 10px;
}
