@keyframes playing-image {
    0% {
        filter: grayscale(0) contrast(100%);
    }
    50% {
        filter: grayscale(1) contrast(200%);
        opacity: 0.8;
    }
    100% {
        filter: grayscale(0) contrast(100%);
    }
}
