@keyframes playing-image {
    0% {
        opacity: 1;
        filter: saturate(100%);
    }
    50% {
        opacity: 0.5;
        filter: saturate(0%);
    }
    100% {
        opacity: 1;
        filter: saturate(100%);
    }
}
