@import "./details.scss";
@import "./album.scss";
@import "./viewmode.scss";
@import "./album-options.scss";

.artist {
    &--played {
        position: fixed;
        top: calc(16vw + 160px);
        display: none;
    }
}
