.artist {

    .artist--albums {
        width: calc(100% - 16vw);
        height: calc(100% - 60px);
        margin-left: 16vw;

        .album--listing {
            $album-margin: 10px;
            $album-border: 4px;
            text-align: center;
            overflow-Y: scroll;
            overflow-X: hidden;
            height: 100%;
            margin-top: 60px;
            padding: 0 100px;

            .album {
                height: fit-content;
                position: relative;
                transition: all ease-in-out 0.5s;
                opacity: 1;
                display: inline-block;

                &.loaded {
                    opacity: 1;
                }

                &.hidden {
                    display: none;
                }

                &.disabled {
                    .album--body {
                        border-style: dotted;
                    }

                    .album--image {
                        filter: blur(2px);
                        opacity: 0.25;
                    }
                }

                &--body {
                    margin: $album-margin $album-margin 50px $album-margin;
                    border: $album-border solid $color-primary;
                    position: relative;
                    transition: all ease-in-out 0.5s;
                    border-radius: 20px;
                }


                &--name {
                    color: white;
                    position: absolute;
                    display: block;
                    bottom: -35px;
                    transform-origin: bottom;
                    font-size: $fs-xxs;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.1);
                    opacity: 0;
                    border-radius: 5px;
                    width: 100%;
                    padding: 5px 0;

                }

                &--image {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    background-color: transparent;
                    background-size: cover;
                    background-position: center;
                    border-radius: 15px;
                }

                &:hover {
                    cursor: pointer;
                    transition: all ease-in-out 0.1s;
                    z-index: 100;
                    transform-origin: center;

                    .album--name {
                        opacity: 1;
                        z-index: 100;
                        background: rgba(0, 0, 0, 0.7);
                    }
                }


                &.playing {
                    .album--body {
                        border-color: $color-splash;
                        box-shadow: 0 0 50px $color-splash;
                        animation: 1s ease-in-out 0s infinite playing;
                        background-color: $color-splash-dark;

                        .album--image {
                            animation: 1s ease-in-out 0s infinite playing-image;
                        }
                    }
                }
            }


            &.per-row-1 {
                .album {
                    width: calc(40vw);

                    &--body {

                    }

                    &--image {
                        height: calc(40vw);
                    }
                }
            }

            &.per-row-2 {
                .album {
                    width: calc(100vw / 3);

                    &--image {
                        height: calc(calc(100vw / 3));
                    }
                }
            }

            &.per-row-3 {
                .album {
                    width: calc(100% / 3);

                    &--image {
                        height: calc(calc(100vw / 3) - 200px);
                    }
                }
            }

            &.per-row-4 {
                .album {
                    width: calc(100% / 4);

                    &--image {
                        height: calc(calc(100vw / 4) - 150px);
                    }
                }
            }

            &.per-row-5 {
                .album {
                    width: calc(100% / 5);

                    &--image {
                        height: calc(calc(100vw / 5) - 120px);
                    }
                }
            }

            &.per-row-6 {
                .album {
                    width: calc(100% / 6);

                    &--image {
                        height: calc(calc(100vw / 6) - 100px);
                    }
                }
            }

            &.per-row-7 {
                .album {
                    width: calc(100% / 7);

                    &--image {
                        height: calc(calc(100vw / 7) - 100px);
                    }
                }
            }

            &.per-row-8 {
                .album {
                    width: calc(100% / 8);

                    &--image {
                        height: calc(calc(100vw / 8) - 80px);
                    }
                }
            }

            &.per-row-9 {
                .album {
                    width: calc(100% / 9);

                    &--image {
                        height: calc(calc(100vw / 9) - 80px);
                    }
                }
            }

            &.per-row-10 {
                .album {
                    width: calc(100% / 10);

                    &--image {
                        height: calc(calc(100vw / 10) - 80px);
                    }
                }
            }
        }
    }
}
