.artist {

    &--details {
        position: fixed;
        left: 70px;
        top: 200px;

        .artist--image {
            text-align: center;
            display: block;
            overflow: hidden;
            border-radius: 25px;
            width: 14vw;
            height: 14vw;
            margin-top: 20px;
            background-size: cover;
            background-position: center;

        }

        .artist--name {
            text-align: center;
            display: block;
            width: 14vw;
            overflow: hidden;
            height: 30px;
            opacity: 0.5;
            margin-top: 20px;
        }
    }
}
