.artist {
    .artist--albums {
        .album--viewmode {
            height: 60px;
            width: calc(100% - 16vw);
            position: absolute;
            top: 15px;
            display: block;
            text-align: center;
            transform: translateX(-10px);

            &__body {
                display: inline-block;
            }

            button {
                background-color: $color-primary-darkest;
                height: 20px;
                width: 20px;
                margin: 0 10px 0 0;
                padding: 0;
                border-radius: 3px;
                border: 2px solid $color-primary-dark;
                cursor: pointer;

                &.active {
                    background-color: $color-primary;
                }
            }
        }
    }
}
